/* src/styles/sbadmin2.css */
.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}
.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}
.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}
.bg-gradient-primary {
  background: linear-gradient(180deg, #4e73df 10%, #224abe 100%) !important;
}
